@{ ViewBag.Title = "Home Page"; }

<section class="jumbotron text-center" style="background-color: rgba(0,0,0,0.2); font-size: 1rem; font-weight: 400; line-height: 1.5; color: white;">
    <div class="container">
        <h1 class="jumbotron-heading">Task Manager</h1>
        <p class="lead text-muted" style="color: white">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p>
    </div>
</section>
<!--<div class="jumbotron jumbotron-fluid" style="background-color: #ff8080; margin-bottom: 0px">
    <h1>Task Manager</h1>
    <p id="with"> The best task manager you ever used by Delia and Liviu</p>
</div>
<img src="~/images/backgroundimg.png" style="display: block; margin-left: auto; margin-right: auto; width: 90%;" alt="Sample Photo" />-->